---
import "../styles/global.css"
import Logo from "../svg/logo-mobile.svg"
import LogoDesktop from '../svg/SBG-logo.svg'
import Emblem from '../svg/logo-emblem.svg'
---

<header class="flex flex-col py-padding-header-y "> 
    <!-- mobile logo -->
<a href="/" class="self-center md:hidden"><img src={Logo} alt="Logotype"></a> 
<!-- desktop logo -->
<a href="/" class="self-center hidden md:block"><img src={LogoDesktop} alt="Logotype desktop"></a> 
</header>

<!-- mobile nav -->
  <nav class="md:hidden sticky top-padding-header-y pb-padding-header-y">
      <ul class="flex justify-between">
          <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
          <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
          <div class="dropdown">
            <li><a href="/collections/" class="dropbtn navLinks hover-underline-animation">Collections</a></li>
            <div class="dropdown-content">
              <a href="/agab/">Abject Garment, Absent Body</a>
              <a href="/shadow/">Shadow Collection</a>
              <a href="/contrapposto/">The Contrapposto Concept</a>
              <a href="/lichen/">The Lichen Project</a>
            </div>
          </div>
          <li><a href="/rentalprocess/" class="navLinks hover-underline-animation">Rental Process</a></li>
      </ul>
  </nav>
  
  <section class="h-[70vh] md:hidden flex items-center justify-center">
    <div class="flex flex-col">
        <img class="w-[5rem]" src={Emblem} alt="Emblem logo">
    </div>
  </section>

<!-- desktop nav -->

  <!-- TRY 3 -->
  <nav class="hidden md:block sticky top-padding-header-y pb-padding-header-y z-10">
    <ul class="flex justify-between">
        <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
        <li><a href="/rentalprocess/" class="navLinks hover-underline-animation cursor-pointer">Rental Process</a></li>
    </ul>
  </nav>

  <div class="hidden md:block invisible justify-center pt-space-24-32">
    <img class="w-[8rem]" src={Emblem} alt="Emblem logo">
  </div>

  <nav class="hidden md:block w-[55vw] sticky top-padding-header-y pb-padding-header-y m-auto z-10">
    <ul class="flex justify-between gap-16">
        <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
        <li><a href="/"><img src={Emblem} alt="EmblemLogo"></a></li>
        <div class="dropdown">
          <li><a href="/collections/" class="dropbtn navLinks hover-underline-animation">Collections</a></li>
          <!-- <div class="dropdown-content">
            <a href="/agab/">Abject Garment, Absent Body</a>
            <a href="/shadow/">Shadow Collection</a>
            <a href="/contrapposto/">The Contrapposto Concept</a>
            <a href="/lichen/">The Lichen Project</a>
          </div> -->
        </div>
    </ul>
  </nav>

<style>

nav{
        filter: invert(1);
        mix-blend-mode: difference;
        padding: 0 var(--padding-body-x);
      }

      a.navLinks{
        font-family: var(--font-family-accent);
        font-weight: var(--font-weight-book);
        font-size: var(--font-size-body-btn);
      }

      .hide{
      display: none;
    }

   

/* Dropdown Button */

@media screen and (max-width: 768px) {
  /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 10rem;
  z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-book);
  font-size: var(--font-size-body-btn);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration: underline;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}
}
@media screen and (min-width: 768px) {

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 14rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-book);
  font-size: var(--font-size-body-btn);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration: underline;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}
}

</style>

<script is:inline></script>